/* 公共css */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
    font-size: 14px;
    background-color: #000;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
} 
body {
    position: relative;
} 
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
a {
    color:#ffffff;text-decoration: none;
} 
a:hover, a:focus {
    text-decoration: underline;
}
a:focus {
    color: #89bceb;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline: none;
    outline-offset: -2px;
}
ul, li {
    list-style: none;
}

/* boostrop 样式覆盖 */
.form-control, .input-group-addon, .btn-default, input  {
   color: #ffffff;
   background-color: rgba(63, 72, 84, 0.7);
}
 .btn-info {
    background-color: rgba(119, 214, 225, 0.2);
}
 .btn-primary { 
    background-color: rgba(32, 160, 255, 0.2); 
}
 .btn-danger { 
    background-color: rgba(255, 109, 109, 0.2); 
}



/*滚动条*/
body, html {
    scrollbar-base-color: #f4f7fc;
    scrollbar-track-color: #f4f7fc;
    scrollbar-face-color: #797979;
    scrollbar-arrow-color: #f4f7fc;
    scrollbar-shadow-color: #f4f7fc;
    scrollbar-3dlight-color: #f4f7fc;
    scrollbar-highlight-color: #f4f7fc;
    scrollbar-darkshadow-color: #f4f7fc;
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0;
    display: none
}

::-webkit-scrollbar-track {
    background: transparent
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
    border: 0
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background: transparent;
    border-radius: 5px
}

::-webkit-scrollbar-thumb {
    padding-top: 100px;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset -1px -1px 0 rgba(0, 0, 0, .07);
    background-color: #797979;
    min-height: 28px;
    border-radius: 4px;
    background-clip: padding-box
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
    border: 0
}

::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .25);
    background-color: rgba(0, 0, 0, .4)
}

::-webkit-scrollbar-thumb:active {
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .35);
    background-color: rgba(0, 0, 0, .5)
}





/* elementui 样式覆盖 */
.el-card__body{
    padding: 10px 0 !important;
}
.el-checkbox__inner{
    background-color: transparent !important;
    border: 1px solid #62a8ea !important;
}
.el-tree-node__content:link,.el-tree-node__content:visited,.el-tree-node__content:hover,.el-tree-node__content:active,.el-tree-node__content:focus{
    background-color: transparent !important;
}
.el-tree-node:focus>.el-tree-node__content{
    background: rgba(46, 45, 45, 0.5) !important;
}



 /* .content{
	overflow: auto;
	position: relative;
	background: transparent;
	height: 400px;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}  */
